html, body {
    margin: 0;
    height: 100%;
}

.header {
    margin-top: 2rem;
    padding-bottom: 2vh;
}

.navbar {
    display: flex;
    width: 100%;
}

.logo {
    width: 30vh;
    margin-left: 20px;
}

.username {
    text-align: right;
    width: 15%;
    padding-right: 5vh;    
}

a {
    color: #1e2020;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 3vh;
    padding-right: 3vh;
    overflow: hidden;
    width: 85%;
}

li {
    float: right;
    padding-top: 5vh;
}

li a {
    color: #3c4445;
    font-style: italic;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem;
    text-decoration: none;
    z-index: 2;
}

li::after {
    content: "/"; 
    color: #6bcaba;
    font-size: 4vh;
}


li a:hover {
    color: #6bcaba;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper{
    width:100%;
    height: 100%;
    display:flex;
    column-gap: 4%;
    border-top: 2px solid #6bcaba;
    background-color: #FAFAFAFA;
    max-height: 400vh;
}

aside {
    flex: 0 0 200px;
    background: #6bcaba;
}

img {
    width:100%;
}



.edit_container {
    position: relative;
    opacity: 65%;
    min-height: 50vh;

}


.edit_header {
    font-size: 13px;
    color: #1e2020;
    margin-top: 10%;
    margin-bottom: 15%;
}

  .input-field{
    background-color: #FFFFFF;
    width: 100%;
    height: 8vh;
    font-size: 12px;
    padding-inline: 8px;
    border-radius: 10px;
    border: 2px solid #dfd3d3;
}

.buttons{
    display: flex;
    justify-content: space-between;
}


  .edit_box{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-submit{
    width: 20vh;
    height: 6vh;
    background: #6bcaba;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    margin: 7px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #ae9e9e;
}

.input-submit:hover{
    background: #ace9de;
}

.back_box{
    position: relative;
    display: flex;
    flex-direction: column;
}

.back-submit{
    width: 20vh;
    height: 6vh;
    background: #FFFFFF;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    margin: 7px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #bab6b6;
}

.back-submit:hover{
    background: #f3eeee;
}

.icons{
    display: flex;
    justify-content: right;
    font-size: 1.1rem;
}

.data{
    margin: 0 0.5rem;
}

.out{
    margin: 0 0.5rem;
}