html, body {
    margin: 0;
    height: 100%;
}

.header {
    margin-top: 2rem;
    padding-bottom: 2vh;
}

.navbar {
    display: flex;
    width: 100%;
}

.logo {
    width: 30vh;
    margin-left: 20px;
}

.username {
    text-align: right;
    width: 15%;
    padding-right: 5vh;    
}

a {
    color: #1e2020;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 3vh;
    padding-right: 3vh;
    overflow: hidden;
    width: 85%;
}

li {
    float: right;
    padding-top: 5vh;
}

li a {
    color: #3c4445;
    font-style: italic;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 2rem;
    text-decoration: none;
    z-index: 2;
}

li::after {
    content: "/"; 
    color: #6bcaba;
    font-size: 4vh;
}

li a:hover {
    color: #6bcaba;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper{
    width:100%;
    display:flex;
    column-gap: 4%;
    background-color: #FAFAFA;
    border-top: 2px solid #6bcaba;
    max-height: 1000vh;
}

aside {
    flex: 0 0 200px;
    background: #6bcaba;
}

img {
    width:100%;
}



.portfolio_container {
    position: relative;
    opacity: 65%;
    min-height: 20vh;
    width: 90vh;

}

.portfolio_header {
    font-size: 13px;
    color: #1e2020;
    margin-top: 4vh;
    margin-bottom: 3.5vh;
    display: flex;
}

.add{
    font-size: 1.5rem;
    margin: 1rem;
}

.post{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    border: 2px solid #ae9e9e;
}

.icons{
    display: flex;
    justify-content: right;
    font-size: 1.1rem;
}

.data{
    margin: 0 0.5rem;
}

.out{
    margin: 0 0.5rem;
}

.content{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.author{
    text-align: right;
    margin-bottom: 0;
}

.like_container{
    display: flex;
    justify-content: right;
    margin: 0.3rem;
}

.open{
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: .3s;
    margin: 0.5rem;
}

.fa-heart{
    margin-left: 1rem;
}